*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Foldit', cursive;
    font-family: 'Konkhmer Sleokchher', cursive;
    font-family: 'Mooli', sans-serif;
    overflow-x: hidden;
}

body{

    background-color: #000000;
    color: #ffffff;
}
.curser{
    width: 15px;
    height: 15px;
    mix-blend-mode:difference;
    background-color: rgb(255, 255, 255);
    box-shadow: 0  0 10px rgb(237, 237, 237);
    border-radius: 50%;
    position: relative;
    transition: all linear 0.2s;
    z-index: 11;
}

::-webkit-scrollbar{
      height: 0px;
      width: 5px;
      scroll-behavior: smooth;
      
}
::-webkit-scrollbar-track{
    background:rgb(40, 39, 39);
    box-shadow: 0 0 2px cyan,
    0 0 6px cyan,0 0 0px cyan;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(14, 159, 169);
    border-radius: 20px;
}

#menu{
    color: white;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}
#header{
    width: 100%;
    height: 30%;
    background-size: cover;
    background-position: center;
}
#container{
    padding: 20px 5%;
   
}
#logo{
    width: 130px;
    opacity: 0;
    margin-left: 55px;
    animation: slideright 1s ease forwards ; 
    animation-delay: 0.5s;
}
nav{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-wrap: wrap;
    
}
ul li{
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    margin: 10px 20px;
    justify-content: space-between;  
    animation: slideTop 1s ease forwards ; 
   animation-delay: 0.5s;
}
ul li a{
    font-weight: 900;
    text-decoration: none;
    color:#08bfdb;
    font-size: 20px;
   position: relative;
   transition: all 0.1s ease-in-out;
}
ul li a:hover{
    color: #28ceb5;
    transform: translate(0px ,-3px);
    
}
 
.head-text{
    padding: 0% 10%;
   
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    background: url(yoga.jpg)  no-repeat;
    background-size: cover;
    background-position: center;
    background-size:600px 500px;
    background-position-x:900px;
    background-position-y:0px;
    overflow-y: hidden;

}
.head-text h1{
   opacity: 0;
   animation: slideLeft 1s ease forwards ; 
   animation-delay: 1s;
   
}

#Text{
    margin: 1px 50px;
    width: 50%;
    height: 100vh;
    z-index: 999;
}
#Linkes{
    border: 3px solid red;   
}
.li1{
    width: 9vw;
    height: 30px;
    border: 2px solid red;
    border-radius: 50%;
    color: #18aaa5;
}
#linkes{
    height: 90px;
    width: 400px;
}
#linkes a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* width: 35px;
    height: 35px; */
    border: 2px solid rgb(39, 138, 177) ;
    border-radius: 10px;
    background: transparent;
    color: #278ab1;
    font-size: 30px;
    margin: 8px;
    margin-top: 23px;
    margin-left: 30px;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow: hidden;
    animation: slideLeft 1s ease forwards ; 
    animation-delay: 0s;
    box-shadow: 0 0 2px cyan,
    0 0 6px cyan,0 0 0px cyan;
}
@media screen and (max-width: 570px) {
    .nav{
        overflow-y: hidden;
    }
    #linkes a{
        margin: 30px 0 0 20px;
    }

    #header{
        height: 200px;
        overflow-y: hidden;
    }
    #container{
        padding: 0 10px;
    }
    #logo{
        margin: -10px;
    }
    #menu{
        display: block;
        padding-left: 80px;
        font-size: 50px;
    }
     ul{
        display: flex;
        flex-direction: column;
        opacity: 0;
        position: absolute;
        margin-top: 274px;
        right: 0px;
        z-index: 99;
        background-color: #000;    }
     nav ul li a{
        color:#08bfdb;
        font-size: 20px;
        top: 100%;
        padding: 0rem 4%;
       display: flex;
        flex-direction: column;
     }
    ul li a{
        display: inline;
        font-size: 1rem;
        
    }
    #Home{
        margin-top: -120px;
    }
    .active {
        opacity: 1;
    }
 
    
}
#linkes a:hover{
   color: white;
   background-color:#147f89 ;
   box-shadow: 0 0 5px cyan,
   0 0 5px cyan,0 0 0px cyan,
   0 0 0px cyan,0 0 20px cyan;
}
.divbtn1{
    display: flex;
    width: 500px;
    height:200px;
    z-index: 99;
    margin-top: -90px;
    
}
#btn1{
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: #278ab1;
    margin: 100px 0 0 30px;
    animation: slideright 3s ease forwards ; 
    animation-delay: 0s;
    box-shadow: 0 0 5px cyan,
    0 0 2px cyan,0 0 10px cyan; 
     
}
.btn2{
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: #278ab1;
    margin: 100px 0 0 30px;
    animation: slideLeft 3s ease forwards ; 
    animation-delay: 0s;
    box-shadow: 0 0 5px cyan,
    0 0 2px cyan,0 0 10px cyan;    
}
#btn1:hover{
    color: white;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 10px cyan,
    0 0 10px cyan,0 0 30px cyan;
}
.btn2:hover{
    color: white;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 10px cyan,
    0 0 10px cyan,0 0 30px cyan;
}
/* Second Section */
#secContainter{
    
    margin: 50px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    padding: 10% 5%;
}
#img2{
    border: #000;
    border-radius: 5%;
    height: 45vh;
    width: 250px;   
    box-shadow: 0 0 40px #1ca3bb;
    animation: slideTop 6s ease forwards ; 
    animation-delay: 0s;
    
}

#Parabout{
    padding-left: 30px;
    width: 50%;
    font-size: 20px;
    
}

/* skill section  **********************************/
/* */
#Skill{
    height: 100vh;
    overflow-y: hidden;
}
.sk{
    width: 100%;
    display: flex;
    padding: 0% 10%;
}

.container1{
    width: 600px;
    height: 100%;
    padding:  90px;
    margin-left: 10px;
    font-size:23px ;
    overflow-y: hidden;
} 
.heading1{
    text-align: center;
    text-underline-offset: 10px;
    margin-bottom:30px;
    text-decoration-thickness: 5px;
}
 .skill-bar{
    margin-bottom: 1rem;
 }
 .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    font-size: 20px;
 }
 .bar{
    width: 100%;
    height: 10px;
    background-color: #111919;
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
 }
 .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #08bfdb;
    border-radius: 25px;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 20px cyan,
    0 0 100px cyan,0 0 20px cyan;
 }
 .bar .html{
    width: 80%;
    animation: html 10s;
 }
 .bar .javascript{
    width: 70%;
    animation: jasc 11s;

 }
 .bar .react{
    width: 50%;
    animation: react 13s;
 }
 .bar .node{
    width: 65%;
    animation: node 12s;
 }
 .bar .java{
    width: 70%;
    animation: jasc 11s;
 }

 .skillss{
    width: 600px;
    height: 100%;
    padding:  90px;
    margin-left: 100px;
    font-size:23px ;
    overflow-y: hidden;
} 
.heading2{
    text-align: center;
    text-underline-offset: 10px;
    margin-bottom:30px;
    text-decoration-thickness: 5px;
}
.profe{
display: grid;
grid-template-columns: 1fr 1fr;
}
.box{
    position: relative;
    margin: 10px 0px;
    flex: 1 1 15rem;
}
.text{
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
}
.text big{
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
small{
    display: block;
    font-weight: 900;
}

.circle{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.circle .points{
    width: 5px;
    height: 10px;
    background-color: #000000;
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
}
.points.marked{
    animation: glow 0.4s linear forwards;
   animation-delay: calc(var(--i)*0.3s);
}


@media screen and (max-width: 570px) {
    
    #About{
        height: 150vh;
    }
    #secContainter{
        
        display: block;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        margin: 0px;    
    }
     #img2{
       margin-left: 30px;
    }#Parabout{
        padding-right: 30px;
        margin: 0px;
        width: 100vw;
        position: absolute;
    }  
    #btn1{
        width: 100px;
        font-size: 11px;
    }
    .btn2{
        width: 100px;
        font-size: 11px;
    }
}


@media screen and (max-width: 570px) {
#Skill{
    margin-top: 15px;
    height: 150vh;
}
    .sk{
    display: flex;
    height: 140vh;
    flex-flow: column;
    
  }
    
    .container1{
        width: 90%;
        height: 100%;
        padding:  90px 0px 0px 0px;
        margin-left: 10px;
        font-size:15px ;
        
    }  
    .info{
        font-size: 15px;
    }
    
 .skillss{
    width: 90%;
    height: 100%;
    padding:  0px 0px 0px 0px;
    margin-left: 10px;
    font-size:15px ;
    display: inline;
    
} 
}
/* My project sectiion */
#project{
     margin: 50px 0 50px 0;
}
#mainProject{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: wrap;
    padding: 80px 50px 40px 50px;
    
    width: 100vw;
}

.eachproject{
    width: 300px;
    height: 100%;
    border: 2px solid cyan;
    border-radius: 20px;
}
.imgProject{
    width: 200px;
    height: 104px;
    border-radius: 10px;
}
.projectss{
    padding: 30px 10px 30px 10px;
    height: 100%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}
.projectdiscription{
    padding-top: 20px;
}
.pbtn{
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: black;   
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background: #278ab1;
    box-shadow: 0 0 5px cyan,
    0 0 2px cyan,0 0 10px cyan; 
}
.eachproject:hover{
    
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 10px cyan,
    0 0 10px cyan,0 0 30px cyan;
}

@media screen and (max-width: 570px) {
   
    .mainProject{
                 height: 100%;
               }
          
    


}


/* Myeducation section ************************/
#edu-row{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 78vh;
    justify-content: space-around;
    margin: 50px 0px 0 0px;
    padding-left: 40px;
    align-items: center;
}
.year{
    
    display: flex;
  justify-content: space-between;
  padding: 0px 40px 10px 0;
  font-size: 29px;
}
.year p{
    font-size: 20px;
  padding-top: 7px;
}
.content{
    padding: 9px;
  border: 2px solid aqua;
  
  border-radius: 9px;
}
.edu-content{
    width: 600px;
    box-shadow: 0px 0px 10px  #0ef;
   
}
#spanedit{
    width: 300px;
  border: 1px solid #222828;
  display: flex;
  margin-right: 80px;
  height: 4px;
  border-radius: 3px;
  background: rgb(51, 160, 160);
  animation: Lefttoright 6s ease forwards ; 
  animation-delay: 0s;
}
@media screen and (max-width: 570px){
    .edu{
        
        height: 100vh;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    #edu-row{
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 78vh;
          justify-content: space-around;
          margin: 0px 0px 0 0px;
          padding-left: 0px;
        }
        .edu-content {
            width: 80%;
            box-shadow: 0px 0px 10px #0ef;
          }
        .year{
            display: flex;
          justify-content: space-between;
          padding: 0px 0px 10px 0;
          font-size: 20px;
        }
        .year p{
            font-size: 20px;
          padding-top: 7px;
        }
        .content{
          padding: 4px;
          border: 2px solid aqua; 
          border-radius: 9px;
        }
       #spanedit{
        display: none;
        }

}

@keyframes glow{
    0%{
       background-color: #ffb805; 
       box-shadow: 10px 0px 20px  rgb(55, 205, 122);
    }
    100%{
        background-color: #00f2ff;
        box-shadow: 0px 0px 10px  #0ef;
    }
}

@keyframes html{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
@keyframes jasc{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
@keyframes react{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
@keyframes node{
    0%{
        width: 0;
    }
    100%{
        width: 65%;
    }
}


@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideright{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}






